
/* Header */
.site-header{
    background-color: black;
    height:20rem ;
}
.logo{
    height: 15rem;
}
.barra{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;

}

/** Navegacion **/
.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 3rem;
    transition: font-size 0.1s ease-in-out;

}
.navegacion a:hover{
    font-size: 2rem;
}
.navegacion a:last-of-type{
    margin: 0;
}